<launch>
  <env name="GAZEBO_RESOURCE_PATH" value="$(find turtlebot3_gazebo)/models/turtlebot3_autorace/ground_picture" />

  <arg name="x_pos" default="0"/>
  <arg name="y_pos" default="0"/>
  <arg name="z_pos" default="0"/>  

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_autorace.world" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>  

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_burger_for_autorace.urdf.xacro" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_burger -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />


  <node
    name="orb_slam_ros" pkg="orb_slam_ros" 
    type="stereo_node_KITTI" 
    args="/home/jotellybarros/Documents/files_yaml/CAMERA_STEREO.yaml $(find orb_slam_ros)/Vocabulary/ORBvoc.bin"
    output="screen">

    <remap from="/camera/left/image_raw"  to="/myCameraStereo/stereo_camera/left/image_raw" />
    <remap from="/camera/right/image_raw" to="/myCameraStereo/stereo_camera/right/image_raw" />

    <param name="publish_pointcloud" type="bool" value="true" />
    <param name="localize_only" type="bool" value="false" />
    <param name="reset_map" type="bool" value="true" />
    <param name="pointcloud_frame_id" type="string" value="map" />
    <param name="camera_frame_id" type="string" value="camera_link" />
    <param name="min_num_kf_in_map" type="int" value="5" />
  </node>
</launch>


