<?xml version="1.0"?>
<model>
    <name>chessboard</name>
    <version>1.0</version>
    <sdf version="1.3">model_chessboard.sdf</sdf>
    <sdf version="1.4">model_chessboard.sdf</sdf>
    <sdf version="1.5">model_chessboard.sdf</sdf>

    <author>
        <name>BIR</name>
        <email>bir@fieb.org.br</email>
    </author>

    <description>
    Chessboard model
    </description>

</model>
