<launch>
    <!-- these are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="model" default="$(find camera_stereo)/urdf/myCameraStereo_sapct.urdf"/>

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="world_name" value="$(find camera_stereo)/worlds/empty_sapct.world"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro.py --inorder $(arg model)" />

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-z 1 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find camera_stereo)/yaml/motor.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="rrbot" args="motor_x_position_controller motor_y_position_controller horizontal_rotation_position_controller joint_state_controller"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- Start RViz -->
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find camera_stereo)/rviz/controller_demo.rviz"/>

    <!-- load the orb_slam_ros -->
    <node name="orb_slam_ros" pkg="orb_slam_ros" type="stereo_node_KITTI" args="$(find camera_stereo)/config/sapct_ZED.yaml $(find orb_slam_ros)/Vocabulary/ORBvoc.bin" output="screen">
        <remap from="/camera/left/image_raw" to="/myCameraStereo/stereo_camera/left/image_raw" />
        <remap from="/camera/right/image_raw" to="/myCameraStereo/stereo_camera/right/image_raw" />

        <param name="publish_pointcloud" type="bool" value="true" />
        <param name="localize_only" type="bool" value="false" />
        <param name="reset_map" type="bool" value="true" />
        <param name="pointcloud_frame_id" type="string" value="map" />
        <param name="camera_frame_id" type="string" value="cameras" />
        <param name="min_num_kf_in_map" type="int" value="5" />
    </node>

    <!-- load the rqt_console -->
    <!--
        <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>
    -->

</launch>